

.u_line {
  position: relative;
}

.u_line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #2C48CE;
  bottom: -2px;
  left: 0px;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
}

.u_line:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.webkit {
  -webkit-text-stroke: #2C48CE;
  transition: .6s;
}

.webkit:hover {
  -webkit-text-stroke: 0.5px #2C48CE;
  color: #2C48CE;
}

.btn_webkit::after {
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


.slick-prev:before {
  background-image: url(./assets/image/svg/arror1.svg);
  width: 18px !important;
  height: 34px !important;
  color: transparent !important;
  opacity: 1 !important;
  display: flex !important;
  background-size: cover !important;
}
.slick-prev {
  bottom: 6% !important;
  top: auto !important;
  left: -35px !important;
}
.slick-next:before {
  background-image: url(./assets/image/svg/arror2.svg);
  width: 18px !important;
  height: 34px !important;
  color: transparent !important;
  opacity: 1 !important;
  display: flex !important;
  background-size: cover !important;
}
.slick-next {
  bottom: 6% !important;
  top: auto !important;
  left: 25px !important;
}
@media (max-width: 576px) {
  .slick-prev:before {
    display: none !important;
  }
  .slick-next:before {
    display: none !important;
  }
 }


 .mm {
  background-image: url(./assets/image/webp/nonbinding.webp);
 }